body {
	padding: 30px;
	font-size: 0;
	/*updated comment 6:22 1/25*/
}

div {
	border: 1px black solid;
} 

.container {
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 500px;
}

.top {
	height: 200px;
	width: 50%;
	display: inline-block;
	font-size: 0;
}

.bottom {
	height: 300px;
	width: 33.33%;
	display: inline-block;
	font-size: 0;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.grey {
	background-color: grey;
}

.black {
	background-color: black;
}

.orange {
	background-color: orange;
}