body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

img {
	width: 300px;
	height: 300px;
	margin: 10px;
}

.left {
	float: left;
}

.right {
	float: right;
}